# Python requirements
torch>=2.1.0
mani-skill
gymnasium>=0.29.0
numpy>=1.24.0
matplotlib>=3.7.0
mediapy>=1.2.0
Pillow>=9.0.0
tqdm>=4.65.0
tensorboard>=2.14.0
imageio[ffmpeg]>=2.31.0
opencv-python-headless>=4.8.0
setuptools<70
